/* Estilos para mejorar la presentación */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7; /* Cambio del color de fondo a un tono más claro */
  color: #000000;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center; /* Centra el contenido del encabezado */
  padding: 1px 0; /* Aumento del espacio alrededor del encabezado */
}

img {
  max-width: 20%; /* Ajusta el tamaño máximo de la imagen */
  height: auto;
  display: block;
  margin: 0 auto; /* Centra la imagen horizontalmente */
  object-fit: cover; /* Realiza un recorte a lo largo para ajustar la imagen */
  border-radius: 50%;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
  background-color: #fff; /* Fondo blanco para el contenido principal */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
section:nth-child(odd) {
  background-color: #B8CAD9; /* Un color para las secciones impares */
}

section:nth-child(even) {
  background-color: #1B65A6; /* Un color para las secciones pares */
}

h1 {
  font-size: 36px;
  margin-bottom: 20px; /* Aumento del espacio entre el encabezado y el contenido */
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li::before {
  content: "✓ ";
  font-weight: bold;
}

